div {
  border-radius: 5px;
}

#title {
  margin-left: 3%;
}

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 1000px;
}

.head {
  font-size: 20px;
}

.dates {
  margin-right: 30px;
  text-align: right;
}

#name {
  font: Sacramento;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

body {
    line-height: 1.4;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px; 
    font-size: 20px;
    font: Lucida Grande;
    background-color: #3399FF;
}
